body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 320px;
    margin: auto;
}
.header h4 {
    margin: 0;
    color: #333;
}
.img-box {
    margin: 20px 0;
}
.img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
h1 {
    color: #333;
    font-size: 24px;
    margin-top: 20px;
}
form {
    margin: 20px 0;
}
input[type="file"] {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
input[type="submit"] {
    background-color: #4285F4;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}
input[type="submit"]:hover {
    background-color: #357ae8;
}
.google-btn {
    display: inline-block;
    background-color: #4285F4;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
}
.google-btn.logout {
    background-color: #db4437;
}
.google-btn.logout:hover {
    background-color: #c1351d;
}
.google-btn:hover {
    background-color: #357ae8;
}
@media (min-width: 600px) {
    .container {
        max-width: 500px;
    }
    .img {
        height: 100px;
        width: 100px;
    }
}