<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />
</head>
<!--<body>-->
<!--<div class="container">-->
<!--    <div class="header">-->
<!--        <h4>Welcome, {{user['family_name']}}</h4>-->
<!--        <div class="img-box">-->
<!--            <img class="img" src="{{user['picture']}}" />-->
<!--        </div>-->
<!--    </div>-->
<!--    <h1>Upload CSV File</h1>-->
<!--    <form action="/uploadfiles" method="post" enctype="multipart/form-data">-->
<!--        <input name="files" type="file" multiple accept=".csv">-->
<!--        <input type="submit">-->
<!--    </form>-->
<!--    <a href="/logout" class="google-btn">-->
<!--        <div class="google-icon"></div>-->
<!--        <span class="btn-text">Logout</span>-->
<!--    </a>-->
<!--</div>-->
<!--</body>-->
<body>
<div class="container">
    <div class="header">
        <h4>Welcome, {{ user['family_name'] }}</h4>
        <div class="img-box">
            <img class="img" src="{{ user['picture'] }}" alt="User Image" />
        </div>
    </div>
    <h1>Upload CSV File</h1>
    <form action="/uploadfiles" method="post" enctype="multipart/form-data">
        <input name="files" type="file" multiple accept=".csv">
        <input type="submit" value="Upload">
    </form>
    <a href="/logout" class="google-btn">
        <span class="btn-text">Logout</span>
    </a>
</div>
</body>
</html>